body {
    margin: 0%;
    padding: 0%;
}



.agendamento-horario{
    text-align: center;
}


.agendamento-time{
    
    border: 1px solid #000000;
    padding: 10px;

    width: 80px;
    height: 22px;

    margin-left: 51%;
}



.container-main-agendamento{
    display: flex;

    border: 2px solid #81552C;

    margin-bottom: 10%;
}