body {
    margin: 0%;
    padding: 0%;
}



.h1-agendamento-horario{
    text-align: center;

    margin-top: 5vh;
}


.agendamento-time{
    
    border: 1px solid #000000;
    padding: 10px;

    width: 100px;
    height: 40px;

    margin-left: 65%;
}



.container-main-agendamento{
    display: flex;

    border: 2px solid #81552C;

    margin-top: 5vh;
    margin-left: 45vh;
    margin-right: 45vh;

    justify-content: space-between;
}



.logo-agendamento{
    width: 92px;
    height: 91px;
    left: 469px;
    top: 361px;

    
}   

.date-time-container-agendamento{
    margin-top: 36px;

    margin-left: 10vh;
}
.barbeiro-container-agendamento{
    margin-top: 36px;
}

.botao-container-agendamento{
    text-align: center;
    font-size: 17px;
   
    height: 38px;
    
    top: 379px;
    margin-top: 26px;
    margin-right: 10vh;
    padding: 6px;

    background: rgba(129, 85, 44, 0.97);
    border: 1px solid #000000;
    border-radius: 15px;
}


.line-agendamento{
    border: 1px solid #000000;

    height: 1px;
    width: 90vh;
}