
.titulo{
margin-left: 23%;
}

.container{
   margin-top: 40px;
  
}

.jumbotron{
   max-height: 70vh;
   max-width: 300vh;
   
   

}

.endereco{
   font-size: 25px;
   margin-bottom: 10px;
   font-weight: bolder;

}
.lead{
   font-size: 15px;
   
}
.atendimento{
   font-size: 25px;
   font-weight: bolder;
   margin-top: -60px;
   
 
}

.divpading{
   margin-top: 70px;
   margin-top: -20px;
}

.divcentro{
   padding: 20px;
}
.divNews{
   font-weight: bolder;
   
}


/*RESPONSIVE */

@media(max-width:510px){
   
}