.footer {
    position: fixed;                
    width: 100%;
    height: 120px;
    left: 0px;
    background: rgba(0, 0, 0, 0.98);
    bottom: 0;

}


.titulo-rede-sociais {
    /* Redes sociais */

    position: fixed;
    width: 207px;
    height: 28px;
    left: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.logo-instagram {
    /* instagram 1 */

    position: fixed;
    width: 54px;
    height: 52px;
    left: 40px;
    border-radius: 31px;
    bottom: 20px;
}

.logo-facebook {
    /* facebok 1 */

    position: fixed;
    width: 53px;
    height: 55px;
    left: 98px;
    bottom: 18px;
    border-radius: 31px;
}

/* BASE DO MEIO , CNPJ */
.cnpj {
    /* cnpj : 00.000.000/0000-01 */

    position: fixed;
    height: 28px;
    left: 550px;
    font-size: 14px;
    line-height: 116%;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

.ultima-linha {
    display: flex;

}

.email-phone {
    /* gmbarbershop@mail.com | (11) 97777-0000 */
    display: inline-block;
    position: fixed;
    width: 416px;
    height: 20px;
    left: 206px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 0;

}

.termo {
    /* termo de uso | politica e privacidade */
    position: fixed;
    left: 550px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    bottom: 5px;
}


.bandeiras {
    display: flex;
}

.bandeira-visa {
    /* visa-logo-5 1 */

    position: fixed;
    width: 55px;
    bottom: 10px;
    left: 67%;
}

.bandeira-pagseguro {

    /* Logo_PagSeguro 1 */

    position: fixed;
    width: 133px;
    height: 44px;
    left: 72%;
    bottom: 0;
}

.bandeira-elo {

    /* elo-logo-1-1 1 */

    position: fixed;
    width: 76px;
    height: 28px;
    left: 83%;
    bottom: 10px;
}

.logo-footer {

    /* GM -logo-white 2 */
    position: fixed;
    width: 108px;
    left: 90%;
}

.container2 {

    position: fixed;
    width: 100%;
    height: 120px;
    left: 0px;
    background: rgba(61, 14, 33, 0.509);
    ;
}
    


.site-blindado {
    /* logo_siteblindado12 1 */
    position: fixed;
    width: 140px;
    left: 52px;
    
}

.ssl {
    /* ssl 1 */

    position: fixed;
    width: 90px;
    left: 253px;
    top: 120%;
}

.copy-right {
    /* COPYRIGHT@EMAIL.COM 2020 */
    position: fixed;
    width: 175px;
    left: 631px;
    top: 120%;
    font-weight: normal;
    font-size: 13px;
    text-transform: lowercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #000000;
}