body {
    margin: 0%;
    padding: 0%;
}

.container-footer{
    background-color: black;
}

.redes-sociais-cnpj{
    display: flex;
    margin-top: 2vw;
    color: white;
}

.rede-social-nome{
    margin-left: 3vw;
}
.cnpj{
    margin-left: 22vw;
    
}

.meio-footer{
    display: flex;
    color: white;
}

.logo-instagram {
    
    width: 40px;
    height: 42px; 
}

.logo-facebook {
    width: 42px;
    height: 45px;
}

.bandeira-visa {
    width: 45px;
    height: 30px;
}

.bandeira-pagseguro {
    width: 120px;
    height: 44px;
}

.bandeira-elo {
    width: 70px;
    height: 28px;
}

.logo-footer-barber{
    width: 105px;
    margin-top: -54px;
}





/*Contaner 2*/
.site-blindado {
    width: 140px;

    
}
.ssl {
    /* ssl 1 */

    /* position: fixed; */
    width: 90px;
    left: 253px;
}

.copy-right {
  
    font-size: 13px;
    text-transform: lowercase;
 
    color:pink
}
