body {
    margin: 0%;
    padding: 0%;
}

.papai {
    display: flex;
    background: #7E5228;
    width: 100%;

}

.logoMain {
    
    width: 105px;
    margin: -5px 88px -17px;
}

.nav {
    display: flex;
    list-style: none;
}

.nav-link {
    width: 250px;

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #E5E5E5;
    padding: 0px 7px;

    margin-top: 10px;
}

.nav-link:hover{
    color:azure;
    
}

.nav-item {
    width: 220px;

    margin-top: 30px;
}