body {
    margin: 0%;
    padding: 0%;
}

.papai {
    display: flex;
    padding: 20px;
    /* position: fixed; */
    background: #7E5228;
    width: 100%;

}

.logoMain {


    /* position: absolute; */
    width: 90px;
    left: 5px;
    top: -10px;
    border-radius: 23px;

    margin: -25px;
}


.nav {
    display: flex;
    list-style: none;
}

.nav-link {

    display: inline-block;
    width: 560px;

    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #E5E5E5;
    padding: 0px 7px;

    margin-top: 10px;
}

.nav-item {
    width: 250px;

    margin-top: 10px;
}