body {
    background-image: url("../img/Background/thumbnail_edited.jpg");
    /* thumbnail 2 */


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

.titulo {
    /* GM BARBER SHOP, O clássico barba , cabelo e bigode */

    position: fixed;
    width: 981.4px;
    height: 341px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    transform: rotate(-0.37deg);
    left: 170px;
    font-family: 'Bebas Neue', cursive;

}

.botao {
    /* Frame 1 */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 2px;

    position: fixed;
    width: 300px;
    height: 55px;
    left: 230px;
    top: 325px;

    background: #785034;
    border-radius: 60px;
    text-decoration: none;
}

.titulo-botao {

    /* mARCAR HORARIO */

    position: initial;
    width: 333px;
    font-size: 28px;
    line-height: 142.5%;
    /* or 51px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}