* {
    box-sizing: border-box;
}

.login {
    padding: 120px;
    margin-left: 15%;
}

.background_login {
    background-color: #CAC9C8;
    padding: 100px;
}

.cadastre-se {
    text-align: center;
}

.entrar {
    padding: 10px;
    text-align: center;
}
