* {
    box-sizing: border-box;
}

.imagem_sobre {
    width: 500px; 
    height: 600px;
}

.titulo_sobre {
    text-align: center;
    text-decoration: underline;
}

.sobre_nos {
    padding: 100px;
}

.texto_sobre {
    text-align: center;
    font-size: 17px;
}