<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/agendamento.css">
    
    
    <title>Agendamento</title>
</head>
<body>
    <!--HEADER-->

       <header> 


       </header>
        
       <main>
            <h1 class="agendamento-horario">Horários</h1>
            <section class="agendamento-time"> 05/01/2021</section>

            <div class="container-main-agendamento">
                <div class="date-time-container-agendamento"> 05/11/2021 09:00</div>
                <div class="logo-container-agendamento"> <img src="" alt="logo"></div>
                <div class="barbeiro-container-agendamento">Barbeiro: Bruno</div>
                <div class="botao-container-agendamento">Reservar Horario</div>

            </div>
       </main>


       <footer>

       </footer>

</body>
</html>