<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="stylesheet" href="../style/atendimento.css">

    <title>Atendimento</title>
</head>
<body>
    <!--Main-->
     <main>
         <h1 class="titulo"> Atendimento</h1>
         <div class="container-pai">
             <div class="endereco">
             <h2>Endereço</h2> 
             <h2 class="info"> Rua Cardeal Arcoverde, 1571 - Pinheiros, São Paulo SP</h2> <br>
             </div>
              <div class="atendimento">
                <h2>Atendimento</h2> <br><br>
                <img src="../img/Background/clock.png" alt="">
                <h2 class="horario">  Seg das 13h00 às 20h00 </h2> <br>
                <img src="../img/Background/clock.png" alt="" >
                <h2 class="horario">  Ter à sex das 10h00 às 20h00</h2> <br>
                <img src="../img/Background/clock.png" alt="" >
                <h2 class="horario"> Sáb das 10h00 às 18h00</h2>
             </div>
             <!-- <div class="newsletter">
                 <h1>NEWSLETTER</h1> <br>
                 <h2>Cadastre-se em nossa newsletter e receba novidades sobre lifestyle direto na sua caixa postal.</h2> <br>
                 <form action="" class="form">
                     <input type="email" name="email" id="email"  placeholder="Email">
                     <input type="submit" value="Enviar" class="submit">
                 </form> 

             </div> -->
         </div>     
     </main>
     




    <!--JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>