<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/barbeiros.css">
    <link rel="stylesheet" href="../style/footer.css">
    
    <title>Barbeiros</title>
</head>
<body>
    
       <main>
            <h1 class="h1-barbeiros">
                Barbeiros
            </h1>

            <div class="container-barbeiros">
                <div class="barbeiro1">
                    <h3 class="nome-barbeiro1">Bruno</h3>
                    <img class="imagem-barbeiro1"src="../img/Background/Bruno.png" alt="Imagem barbeiro1 Bruno">
                    <p class="texto-barbeiro1">Teve suas primeiras experiências cortando <br>cabelos no salão da família. Investiu em um <br>curso de barbeiro praticando em amigos e <br>vizinhos. O ex advogado, cansado da rotina <br>corporativa, decidiu mudar de vida e <br>investir em seu sonho de infância.</p>
                </div>

                <div class="barbeiro2">
                    <h3 class="nome-barbeiro2">Felipe</h3>
                    <img class="imagem-barbeiro2"src="../img/Background/felipe.jpg" alt="Imagem barbeiro 2 Felipe">
                    <p class="texto-barbeiro2">Desde de 2000 atuando no ramo da beleza <br>como Profissional, com diversos cursos <br>nacionais e internacionais, com vasto <br>conhecimento nos mais diversos tipos e <br>texturas de cabelo e faz uma barba <br>impecável, como poucos.</p>
                </div>
            </div>
       </main>




       


       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>