<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <title>GM BarberShop</title>
</head>
<body>
    
       <!--HEADER-->

       <header class="papai">
        <div class="logo">
            <img  class= "logoMain" src="../img/header/GM -logo-white.png" alt="">

        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class= "nav-link" href="#"> Sobre nós</a>

            </li>
            <li class="nav-item">
                <a class= "nav-link" href="#"> Agendamento</a>

            </li>
            <li class="nav-item">
                <a class= "nav-link" href="#"> Barbeiros</a>
                
            </li>        
            <li class="nav-item">
                <a class= "nav-link" href="#"> Localidade</a>
                 
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="#"> Atendimento</a>
                
            </li>
        </ul>


       </header>
</body>
</html>