<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="../style/login.css">
	<link rel="stylesheet" href="../style/header.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
	<!--HEADER-->
    <header class="papai">
        <div class="logo">
            <a href="index.html"><img src="../img/header/GM -logo-white.png" class="logoMain" alt="Logo"> </a>          
        </div>

        <ul class="nav">
            <li class="nav-item">
                <a class= "nav-link" href="sobre.html"> Sobre nós</a>

            </li>
            <li class="nav-item">
                <a class= "nav-link" href="agendamento.html"> Agendamento</a>

            </li>
            <li class="nav-item">
                <a class= "nav-link" href="barbeiros.html"> Barbeiros</a>
                
            </li>        
            <li class="nav-item">
                <a class= "nav-link" href="localidade.html"> Localidade</a>
                 
            </li>
            <li class="nav-item">
                <a class= "nav-link" href="atendimento.html"> Atendimento</a>
                
            </li>
            
            <li class="nav-item">
                <a class= "nav-link" href="login.html"> Login</a>
                
            </li>
        </ul>
       </header>

       <div class="login"> 
       <form class="background_login">
        <h3>ENTRAR</h3>
        <hr>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço de e-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="seuemail@exemplo.com">
          <small id="emailHelp" class="form-text text-muted"> Nunca compartilharemos seu e-mail com mais ninguém. </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Salvar senha</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
        <hr>
        <p class="cadastre-se"> Não tem conta? <a href="/"> Cadastre-se </a></p>
      </form>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>